@import '../../styles/color.scss';
.title {
  display: flex;
  justify-content: flex-start;
  padding: 25px 20px 10px;
  margin: 0;
  font-size: 1.125rem;
  color: $heavyText;
  border-bottom: 1px solid $divider; // span {
  //   display: flex;
  //   align-items: center;
  //   margin-right: 10px;
  // }
  span {
    display: flex;
    align-items: center;
    flex: 1;
  }
  svg,
  img {
    font-size: 1.5rem;
    margin-right: 10px;
  }
}

.more {
  font-size: 0.875rem;
  color: $plainText;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    margin-left: 5px;
    margin-right: 0px;
  }
}

.titleRoot {
  display: flex !important;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .title {
    position: relative;
    line-height: 2;
    margin: 0;
    padding: 0;
    background: #f7f8fa;
    &:before,
    &:after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      width: 32px;
      background: #f7f8fa;
    }
    &:before {
      right: 100%;
    }
    &:after {
      left: 100%;
    }
  }
}
