@import '../../styles/common.scss';
.subheader {
  word-wrap: break-word;
  word-break: break-all;
}

.blockHeader {
  font-size: 1.2rem;
}

.icon {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  margin-top: 38px;
  margin-bottom: 9px;
}

.hash {
  text-align: center;
  line-height: 33px;
  font-size: 1.5rem;
  font-weight: bolder;
  word-break: break-all;
}

.height {
  a {
    margin: 0 12px;
    color: #FFF;
    &:last-child {
      margin-right: 0
    }
    &:first-child {
      margin-left: 0
    }
  }
}

.items {
  width: 850px;
  margin: 0 auto !important;
  color: #4a546c;
  li {
    border-bottom: 1px solid #e2e9f2;
    padding: 30px 0 10px;
  }
  .itemTitle {
    display: flex;
    width: 200px;
    justify-content: flex-start;
    align-items: center;
    color: $plainText;
    &:after {
      content: ':'
    }
  }
}

@media (max-width: 800px) {
  .items {
    width: 100%;
    word-break: break-all;
  }
}

.hashCardRoot {
  @include boxShadow;
  padding-top: 48px;
  padding-bottom: 48px;
  margin-bottom: 20px;
  line-height: 2;
  text-align: center;
  .hashTitle {
    font-size: 24px;
  }
  .hashText {
    font-size: 16px;
    color: $plainText;
  }
}
