@import '../../styles/color.scss';
.primary {
  color: $text;
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  a {
    word-break: break-all;
  }
}

.secondary {
  color: $text;
  word-break: break-all;
  &>span {
    display: block;
  }
}

.cardContentRoot {
  padding-left: 22px;
}

.listItemContainer {
  width: auto !important;
  padding: 16px 0 !important;
  margin-left: 33px;
  display: flex;
  align-items: stretch !important;
  height: 115px;
  border-bottom: 1px solid $divider;
  text-transform: capitalize;
  svg {
    font-size: 1.5rem;
  }
}

.listItemTextRoot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 14px !important;
  padding-right: 100px !important;
}

.blockIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  min-width: 100px;
  padding: 0 20px;
  color: #FFF !important;
  border-radius: 4px;
  box-sizing: border-box;
  line-height: 1.4;
  span {
    color: inherit;
  }
  a {
    color: inherit !important;
  }
}

.time {
  font-size: 12px; // color: $plainText;
  color: #8b94a0;
  position: absolute;
  top: 0;
  right: 0;
}

.txInfo {
  // line-height: 2;
  color: $text;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.value {
  padding: 0px 8px;
  border-radius: 4px;
}

@media (max-width: 800px) {
  .listItemContainer {
    margin-left: 0;
    padding: 16px 0 !important;
    &:last-child {
      border-bottom: none;
    }
  }
}

.listPadding {
  padding: 0;
}

.txIcon {
  align-self: flex-start;
}
