$primary-color: #415dfc;
$light-grey: #637494;
// $border-grey: #d3ddec;
$addr: #3e56ff;
$codeColor: #0d904f;
$highlight: rgba(109, 165, 255, 1) !important;
$text: #4a546c;
$sidebar-text: #4a546c;
$sidebar-bold-text: #384053;
$hash: #4a546c;
$active: #2647fd;
// from pattern
$primary: #2647fd; // button, icon, input, color block
$secondary: #f15a29; // secondary button, status
$bg: #fdfdfd; // background color;
$statusBg: #FFF; // status bar background
$divider: rgba(226, 233, 242, 0.6);
$inputBorder: rgba(211, 221, 236, 0.6);
$shaodow: rgba(0, 0, 0, 0.1);
$primaryText: #2647fd; // highlight text
$heavyText: #061027; // important text
$tableText: #4a546c; // table text
$plainText: #637494; // normal text
