@import './common.scss';
@mixin center {
  width: 100%;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
}

.cardContainer {
  @include boxShadow;
  padding-bottom: 70px !important;
  padding-top: 14px; // min-height: 830px !important;
}

.center {
  @include center;
}

.main {
  @include center; // @include boxShadow;
  margin: 50px auto 0;
}

@media (max-width: 800px) {
  .main {
    margin: 10px auto;
  }
}
