@mixin center {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.center {
  @include center;
}

.main {
  @include center;
  margin: 50px auto 0 auto;
}

@media (max-width: 800px) {
  .main {
    margin: 0 auto;
  }
}
