@import './color.scss';
* {
  font-family: "Microsoft YaHei", Helvetica, Arial, Georgia, Consolas; // color: $plainText;
}

%hash {
  font-family: 'Source Code Pro', monospace !important;
  font-size: inherit !important;
  text-decoration: none;
  word-break: break-all;
  word-wrap: break-word;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.addr {
  @extend %hash;
  color: $primaryText;
}

.hash {
  @extend %hash;
  color: $plainText;
}

.highlight {
  @extend %hash;
  color: $secondary;
}

@media (max-width: 370px) {
  html,
  body {
    font-size: 14px;
  }
}
