@import './color.scss';
* {
  font-family: Helvetica, Arial, Georgia, Consolas;
}

%hash {
  font-family: monospace !important;
  font-size: 1.2rem !important;
  text-decoration: none;
  word-break: break-all;
  word-wrap: break-word;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.addr {
  @extend %hash;
  color: $addr;
}

.hash {
  @extend %hash;
  color: $hash;
}

.highlight {
  @extend %hash;
  color: $highlight;
}
