@import '../../styles/color.scss';
@import '../../styles/text.scss';
.briefStatistics {
  padding: 0 29px;
  padding-top: 0.875rem;
  &>div {
    display: flex;
    align-items: center;
    height: 22px;
    font-size: 1rem;
    margin-bottom: 0.875rem;
    color: $plainText;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &:first-child {
      margin-top: 0.875rem;
    }
    span {
      @extend %hash;
      color: $plainText;
      font-weight: bold;
      padding-left: 0.5rem; // font-size: inherit !important;
    }
  }
}
