.title {
  display: flex;
  justify-content: space-between;
  h2 {
    text-transform: capitalize;
  }
}

.dialogTitle {
  text-transform: capitalize;
  padding: 0 0 0 17px;
  h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
