@import '../../styles/color.scss';
@import '../../styles/layout.scss';
.addServer {
  display: flex;
  &>div:first-child {
    width: 80vw;
  }
}

.panel {
  @include boxShadow;
  text-transform: capitalize;
}

.main {
  // max-width: 680px;
  margin: 50px auto 0;
}

.panelTitle {
  text-transform: capitalize;
}

.switchColorPrimary {
  // color: blue !important;
}

.switchChecked.switchColorSecondary {
  color: #fff !important;
}

.switchChecked.switchColorSecondary+.switchBar {
  background-color: $primary !important;
}

.switchBar {
  width: 38px !important;
  height: 22px !important;
  border-radius: 11px !important;
  margin-top: -11px !important;
  margin-left: -19px !important;
}
