@import '../../styles/color.scss';
@import '../../styles/layout.scss';
.addServer {
  display: flex;
  &>div:first-child {
    width: 80vw;
  }
}

.panel {
  @include boxShadow;
  text-transform: capitalize;
}

.main {
  max-width: 680px;
  margin: 50px auto 0;
}

.panelTitle {
  text-transform: capitalize;
}

.switchColorPrimary {
  // color: blue !important;
}

.switchChecked.switchColorSecondary {
  color: $secondary !important;
}

.switchChecked.switchColorSecondary+.switchBar {
  background-color: $secondary !important;
}
