@import '../../styles/color.scss';
$sidebar-padding: 29px;
.display {
  padding: 0 $sidebar-padding;
  color: $sidebar-text;
  text-transform: capitalize;
  .item {
    font-size: 1rem;
    line-height: 2rem;
    height: 2rem;
    span {
      text-transform: none;
    }
  }
  .itemValue {
    color: $sidebar-bold-text;
  }
  .validators {
    .box {
      padding: 10px 17px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-bottom: 41px;
      &>div {
        height: 0.875rem;
        line-height: 1.7rem;
        height: 1.7rem;
        max-width: 30vw;
        @media (max-width: 800px) {
          max-width: 80vw;
        }
        @media (max-width: 500px) {
          max-width: 50vw;
        }
      }
    }
  }
}

.title {
  background-color: #f4f7ff;
  font-weight: bold;
  padding: 0 $sidebar-padding;
  height: 42px;
  line-height: 42px;
  font-weight: bolder;
  text-transform: capitalize;
}

.fields {
  display: flex;
  padding: $sidebar-padding;
  height: 34px;
  box-sizing: content-box;
  input {
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
  }
  button {
    border: none;
    border-radius: 4px;
    background-color: $active;
    color: #fff;
    padding: 6px 24px;
    margin-left: 10px;
    text-transform: capitalize;
    cursor: pointer;
    &:disabled {
      background: #eee;
      color: #aaa;
      cursor: default;
    }
  }
}

.listItem:hover {
  cursor: pointer;
  &:hover {
    background: rgba(0, 0, 0, 0.08);
  }
}

.serverGutters {
  padding-left: 28px !important;
  padding-right: 28px !important;
}

.serverPrimary {
  color: $heavyText !important;
}

.serverSecondary {
  color: $plainText !important;
}
