.card {
  border-radius: 2px;
  box-shadow: 0 0 10px 0 rgba(170, 170, 170, 0.2) !important;
}

.listCards {
  display: flex;
  flex-direction: column;
}

.blockListHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.firstChart,
.secondChart {}
