.card {
  border-radius: 2px;
  box-shadow: 0 0 10px 0 rgba(170, 170, 170, 0.2) !important;
}

.listCards {
  display: flex;
  flex-direction: column;
}

.blockListHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.listContainer {
  display: flex;
  &>div {
    width: 50%;
    &:first-child {
      margin-right: 10px;
    }
    &:last-child {
      margin-left: 10px;
    }
  }
}

@media (max-width: 1200px) {
  .listContainer {
    flex-direction: column;
    &>div {
      width: 100%;
      margin: 0 !important;
    }
  }
  .card {
    box-shadow: none !important;
  }
}
