@import '../../styles/color.scss';
.headerNavIcon {
  color: $heavyText;
  margin-right: 31px;
}

.headerNavs {
  display: flex;
  flex: 1;
  color: $heavyText;
  .navItem {
    color: inherit;
    padding: 0 25px;
  }
  .activeNav::after {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    top: 53px;
    left: 0;
    background: $active;
  }
}

.navItem {
  padding: 0 15px;
  color: $text;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.rightNavs {
  display: flex;
  justify-content: space-between;
  align-items: center !important;
}

.activeNav {
  position: relative;
  display: block;
  color: $primary !important;
  font-weight: 600;
}

.toolbarRoot {
  justify-content: space-between;
  min-height: 89px !important;
  text-transform: capitalize;
  padding: 0 !important;
}

.toggleIcon {
  display: none !important;
}

@media (max-width: 800px) {
  .headerNavs,
  .headerNavIcon {
    display: none;
  }
  .toggleIcon {
    display: flex !important;
  }
  .toolbarRoot {
    min-height: 56px !important;
  }
}

.rightSidebarContent {
  max-width: 100vw;
}

.headerLogo {
  height: 75px;
}
