@import '../../styles/color.scss';
.navs {
  display: flex;
  flex: 1;
}

.navItem {
  padding: 0 15px;
  color: $text;
  text-decoration: none;
  display: flex;
  align-items: center;
}

@media (max-width: 800px) {
  .navItem>span {
    display: none;
  }
}

.rightNavs {
  display: flex;
  justify-content: center;
  align-items: space-between !important; // .navItem {
  //   color: $primary-color;
  // }
}
