$col-span: 92px;
.footer {
  display: flex;
  @media (max-width: 800px) {
    flex-direction: column;
    align-items: center;
    &>div {
      max-width: 90vw;
      text-align: center;
      padding: 0;
    }
    .products {
      div {
        display: flex;
        justify-content: center;
      }
    }
  }
}

.overview {
  flex: 1;
  padding-right: $col-span;
  div {
    line-height: 2;
  }
}

.products {
  width: 584px;
  padding: 0 $col-span;
  box-sizing: border-box;
  &>div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -10px;
    &>div {
      width: 190px;
      margin: 0 10px;
      img {
        height: 74px;
      }
      &:last-child {
        filter: brightness(100);
        img {
          filter: contrast(0)
        }
      }
    }
  }
}

.contacts {
  flex: 1;
  padding-left: $col-span;
  a {
    display: flex;
    align-items: center;
    font-size: inherit; // line-height: 2.35em;
    // height: 2.35em;
    color: inherit;
    svg {
      margin-right: 0.7rem;
    }
  }
}

.footer,
.products,
.contacts {
  h1 {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    padding-left: 0;
    font-size: 1.125rem;
    border-bottom: 2px solid #f15a29;
    height: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 1.75rem;
    text-transform: capitalize;
  }
}

.overview,
.products,
.contacts {
  &>div {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start
  }
}
